@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*, 
::after, 
::before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
/*tags*/
body { 
	font-family: 'Playfair Display', serif;
	color: black; 
	background: white;
}